* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f4f8;
  display: flex;
  flex-direction: column; /* Schimbă direcția elementelor la coloană */
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.input-container {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1400px;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: #333;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #2980b9;
}

ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
  width: 90%; /* Asigură-te că lista ocupă aceeași lățime ca input-container-ul */
  max-width: 1400px;
}

li {
  background-color: #ecf0f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  border-left: 4px solid #3498db;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  input[type="text"],
  button {
    font-size: 0.9rem;
  }
}

.green-gradient-task {
  background: linear-gradient(to right, #2ecc71, #27ae60);
  color: white; /* Schimbă culoarea textului pentru contrast */
  border-left: 4px solid #000000; /* O nuanță de verde pentru a menține stilul */
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Redu distanța dintre checkbox și text */
  accent-color: #3498db;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
